footer.footer
    .footer__logo.logo Lumisounds
    .footer__contacts 
        p.footer__desc.desc Связаться с нами
        .footer__socials
            a(href="#").footer__contacts_VK.icon
            a(href="#").footer__contacts_YT.icon
            a(href="#").footer__contacts_Insta.icon
            a(href="#").footer__contacts_Tele.icon