.header__wrapper
    span.banner__logo.logo Lumisounds
    section.banner
        .banner_blur
            p.banner__title.title Саунд дизайн
            p.banner__desc.desc Наши профессионалы помогут создать атмосферу для вашего аудиовизуального произведения. <br><br> Гармоничное звуковое оформление помогает лучше передать идею и погрузить зрителя в настроение кино, игры или анимационного ролика.
                .banner__control
            btn.banner__btn.btn Заказать
